﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model EShop.App.Models.DTO.ShoppingCartDto

    <div class="container">
        <div class="m-5">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Products.Count; i++)
                    {
                        var item = Model.Products[i];
                        <tr>
                            <th scope="row">@(i+1)</th>
                            <td>@item.Product.ProductName</td>
                            <td>@item.Product.ProductPrice</td>
                            <td>@item.Quantity</td>
                            <td>@(item.Quantity*item.Product.ProductPrice)</td>
                        </tr>
                    }

                    <tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="col">Total Price: </th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">@Model.TotalPrice</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

